<!DOCTYPE html>
<html>
    <head>
        <title>Task List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="page-header">Driver Test</h1>
            <div class="row">
                <div class="col-xs-6">
                    <form class="form-group" id="driverForm">
                        <select class="form-control" id="bookingStatus">
                            <option class="form-control" value="confirmed">Confirmed</option>
                        </select>
                        <br/>
                        <input type="button" name="submit" value="Confirm" Booking” class="btn btn-danger">
                    </form>
                </div>
            <div class="col-xs-6"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js" type="text/javascript"></script>
        <script>
            var socket = io();
            socket.on("connect", () => {
                  
                var driverCurrentData = {
                    "socketId" : socket.id,
                    "locationId" : "5ed11d5c3e908c25940c4254"
                }
                $.ajax({
                    type : "PUT",
                    url : "/api/driverLocationSocket/"+driverCurrentData.locationId,
                    dataType : "json",
                    data : driverCurrentData
                }).done(function(response){
                    if(!response.success) {
                        console.log('Error : ', response.message);
                        alert('Unable to add socket id to driver');
                    }else{
                        console.log('Success adding socket to driver location');
                        createDriverRequestAction(socket);
                        createTrackDriverEvent(socket);
                    }
                });

            });

            function createDriverRequestAction(socket) {
                var driverRequest = socket.id + 'driverRequest';
                socket.on(driverRequest, function(passengerData) {
                    console.log('Passenger request received : ', passengerData);
                    if(passengerData){
                        $(".btn").click(function(e){
                            console.log("Confirm button clickled");
                            var status = $("#bookingStatus").val();
                            $.ajax({
                                type: "PUT",
                                url: "/api/bookings/" + passengerData._id,
                                dataType: "json",
                                data: {
                                    "driverId": "5ed0f8249fc5ad33687b361d",
                                    "id": passengerData._id,
                                    "status": "confirmed"
                                }
                            }).done(function(response) {
                                if (response !== "") console.log("Success");
                                console.log(response);
                            });
                        });
                    }
                });
            }

            function createTrackDriverEvent(socket) {
                socket.on("trackDriver", function(location){
                    var driverMovement = [
                        {lat : 19.23796, long : 73.12975},
                        {lat : 19.239036, long : 73.128138},
                        {lat : 19.237679, long : 73.126046},
                        {lat : 19.238692, long : 73.123745},
                        {lat : 19.241791, long : 73.120172},
                        {lat : 19.241710, long : 73.124077},
                        {lat : 19.242966, long : 73.127811},
                        {lat : 19.243635, long : 73.129839},
                        {lat : 19.242946, long : 73.132371},
                    ];
                    var index = 0;
                    var interval = setInterval(function(){
                        var movementObj = driverMovement[index++];
                        if (index == driverMovement.length){
                            clearInterval(interval);
                            console.log(index)
                        }          
                        var driverCurrentLocation = {
                            "locationId":location._id,
                            "latitude": movementObj.lat,
                            "longitude": movementObj.long
                        };
                        $.ajax({
                            type: "PUT",
                            url: "/api/driverLocation/" + location._id,
                            dataType: "json",
                            data: driverCurrentLocation
                        }).done(function(response) {
                            console.log('Update response : ', response);
                            if (response.driverLocation)
                                console.log("Driver Location updated successfully!");
                            else
                                console.log("Error in updating driver location : " + response.message);
                        });
                    }, 5000);
                });
            }
    </script>
    </body>
</html>